.screen-side-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 2.2rem;
    height: 2.2rem;
    bottom: 5rem;
    border-radius: 50%;
    background-color: #50727e;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 5px white;
    z-index: 1000;

    .icon {
        color: white;
    }

    &:hover {
        background-color: darkred;
    }

    &.share-btn {
        bottom: 1rem;
        right: 1rem;
        background-color: #0073e6;
        width: 3rem;
        height: 3rem;

        .icon {
            font-size: 1.5rem;
        }

        &:hover {
            background-color: #005bb5;
        }

    }

    // &.book-btn {
    //     background-color: red;
    //     transform: scale(1.5);
    // 
    //     &:hover {
    //         background-color: darkred;
    //     }
    // }
}

.action-btn {
    color: white;
    background-color: rgba(80, 114, 126, 0.8);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
    align-self: center;

    &:hover {
        background-color: rgba(80, 114, 126, 1);
    }

    &.book-btn {
        display: flex;
        justify-self: center;
        gap: 0.5rem;
        transform: scale(1.25);
        margin-top: 3rem;
        background-color: rgb(225, 7, 7);
        font-weight: bold;

        &:hover {
            background-color: rgb(180, 7, 7);
        }
    }
}