header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: black;
    position: relative;
    z-index: 10000;

    #logo {
        width: 200px;
    }

    button {
        background-color: black;
        border: none;

        .icon {
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            color: white;

        }

        .icon-off {
            display: none;
        }

        @media(min-width: 950px) {
            display: none;
        }
    }

}