.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.4s ease;

    &.visible {
        opacity: 1;
    }
}

.modal-content {
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    position: relative;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4s ease;

    &.visible {
        transform: translateY(0);
        opacity: 1;
    }

    .name {
        text-align: center;
        margin-top: 1rem;
        font-weight: bold;
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}