nav {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;

        li {
            display: flex;
            align-items: center;

            a,
            span {
                display: flex;
                text-transform: uppercase;
                padding: 0.25rem 0.75rem;
                transition: all 250ms ease-in-out;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}