.home-page {
    padding: 0 !important;

    .content {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

        h1 {
            font-size: 3rem;
            text-align: center;
            width: 100%;
            padding: 4rem 1rem;
        }

        .slogan {
            background-color: black;
            color: white;
            text-align: center;
            font-size: 3rem;
            padding: 4rem 0;
            letter-spacing: 2px;

            span {
                display: inline-block;
                width: 100%;
                padding: 0 1rem;
                font-family: 'Dancing Script', cursive;
                max-width: 1440px;
            }
        }

        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 2rem 1rem;
            font-size: 1.8rem;
            text-align: center;
            letter-spacing: 1px;
            max-width: 1440px;
            margin: 0 auto;


            .icon {
                margin-right: 1rem;
                color: #BFA16B;
            }
        }

        .more-margin-top {
            margin-top: 2rem;
        }

        .more-margin-bottom {
            margin-top: 2rem;
        }

    }

    .category-container {
        background-color: #f4f4f4;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin: 12rem 0;

        .category-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1440px;
            height: 30rem;
            padding: 2rem;
            margin: 0 auto;

            .category-photo-box {
                position: relative;
                left: 5%;
                top: -8rem;
                min-width: 60%;
                height: 80%;
                z-index: 1;
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

                div {
                    display: flex;
                    justify-content: flex-end;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-position: center;

                    a {
                        align-self: flex-start;
                        padding: 0 !important;
                        background-color: rgba(200, 200, 200, 0.4);
                        border-radius: 8px;

                        &:hover {
                            .icon {
                                transform: scale(1.2);
                            }
                        }

                        .icon {
                            color: white;
                            width: 1.5rem;
                            height: 1.5rem;
                            margin: 0.75rem;
                            transition: transform 300ms ease;
                        }
                    }
                }

                @media(max-width: 700px) {
                    left: 0;
                    top: -5rem;
                    min-width: 90%;
                    height: 70%;
                }
            }

            .category-description-box {
                position: relative;
                right: 5%;
                bottom: -8rem;
                z-index: 2;
                display: flex;
                flex-direction: column;
                padding: 1.5rem;
                line-height: 1.5;
                background-color: rgba(255, 255, 255, 0.85);
                border: 2px solid rgba(80, 114, 126, 0.1);
                border-radius: 10px;
                order: 2;
                color: rgb(80, 114, 126);
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

                h3 {
                    font-size: 2.2rem;
                    text-transform: capitalize;
                    margin-bottom: 1rem;
                }

                p {
                    margin-top: 1rem;
                    font-size: 1.2rem;
                    color: #555;
                }

                .long {
                    display: unset;

                    @media(max-width: 1000px) {
                        display: none;
                    }
                }

                .short {
                    display: none;

                    @media(max-width: 1000px) {
                        display: unset;
                    }
                }

                @media(max-width: 1000px) {
                    bottom: -5rem;
                }

                @media(max-width: 700px) {
                    right: 0;
                    margin-left: -70%;
                    bottom: -6rem;
                }

            }

            @media(max-width: 700px) {
                padding: 0.5rem;
            }
        }



        .flipped {
            .category-photo-box {
                order: 2;
                left: auto;
                right: 5%;

                @media(max-width: 700px) {
                    right: 0;
                    top: -5rem;
                    min-width: 90%;
                    height: 70%;
                }
            }

            .category-description-box {
                order: 1;
                right: auto;
                left: 5%;
                margin-left: 0;


                @media(max-width: 700px) {
                    left: 0;
                    margin-right: -70%;
                    bottom: -6rem;
                }
            }
        }

        @media(max-width: 700px) {
            margin: 4rem 0;
        }
    }

    .maternity {
        background-image: url('../images/home/maternity.jpg');
        background-position: center;
        background-size: cover;
    }

    .newborn {
        background-image: url('../images/home/newborn.jpg');
        background-position: top;
        background-size: cover;
    }

    .sitter {
        background-image: url('../images/home/sitter.jpg');
        background-position: center;
        background-size: cover;
    }

    .family {
        background-image: url('../images/home/family.jpg');
        background-position: top;
        background-size: cover;
    }

    .cake {
        background-image: url('../images/home/cakesmash.jpg');
        background-position: center;
        background-size: cover;
    }

    .engagement {
        background-image: url('../images/home/engagement.jpg');
        background-position: center;
        background-size: cover;
    }
}

.about-page {
    background: url('../images/about/bg_opac_10.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    padding: 4rem 2rem;

    .content {
        max-width: 850px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);



        .wrapper {
            background: url('../images/about/bg_opac_10.jpg');
            background-repeat: no-repeat;
            background-position: bottom;
            background-position-y: 165px;
            background-size: cover;
            width: 100%;
            padding: 2rem;

            @media(max-width: 500px) {
                padding: 2rem 0.5rem 0.5rem;
            }
        }

        .about-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3rem;
            text-align: center;

            img {
                width: 250px;
                /* Reduced width for a more proportional look */
                height: auto;
                border-radius: 50%;
                margin-bottom: 1.5rem;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                /* Soft shadow for subtle focus */
            }

            h1 {
                padding-left: 0;
                color: #505a6b;

            }

            @media(max-width: 500px) {
                margin-bottom: 2rem;
            }
        }

        .about-details {
            max-width: 750px;
            text-align: left;
            line-height: 1.75;
            font-size: 1.25rem;

            p {
                margin-bottom: 1.5rem;
            }

            .cta-button {
                display: inline-block;
                margin-top: 2rem;
                padding: 0.75rem 1.5rem;
                background-color: #50627E;
                /* Soft muted tone for a modern look */
                color: white;
                border-radius: 5px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                transition: background-color 0.3s ease, transform 0.3s ease;

                &:hover {
                    background-color: #3b4b61;
                    transform: translateY(-3px);
                }
            }
        }
    }
}

.contact-page {
    background: linear-gradient(135deg, #ffffff 50%, #698e9c 50%);

    .page-content {
        display: flex;
        flex-direction: row !important;
        justify-content: center;

        .contact-box {
            max-width: 500px;
            width: 100%;
            background: url('../images/contact/camera.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            .contact-box-content {
                background-color: rgba(0, 0, 0, 0.4);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .detail {
                    color: white;
                    display: flex;
                    align-items: center;
                    padding-left: 1.5rem;
                    margin-bottom: 1rem;
                    font-size: 1.25rem;

                    .icon {
                        margin-right: 1rem;
                        min-width: 1rem;
                        min-height: 1rem;
                    }

                    a {
                        color: white;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            @media (max-width: 1000px) {
                display: none;
            }
        }

        .form-box {
            flex-direction: row;
            max-width: 500px;
            width: 100%;
            padding: 2rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background-color: white;
            background: linear-gradient(135deg, #ffffff 50%, #698e9c 50%);

            h1 {
                color: rgba(80, 114, 126, 1)
            }

            p {
                margin: 2rem 0;

                @media(max-width: 500px) {
                    margin: 1.5rem 0;
                }
            }

            form {
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 0.5rem;
                }

                input,
                textarea {
                    margin-bottom: 1rem;
                    padding: 0.5rem;
                    border: 1px solid rgba(0, 0, 0, 0.2);


                    &:focus {
                        outline: 1px solid rgba(0, 0, 0, 0.5) !important;
                    }
                }

                textarea {
                    resize: none;
                    min-height: 5rem;
                }

                button {
                    color: white;
                    background-color: rgba(80, 114, 126, 0.8);
                    padding: 0.5rem 1rem;
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    transition: all 250ms ease-in-out;
                    align-self: center;

                    &:hover {
                        background-color: rgba(80, 114, 126, 1);
                    }
                }
            }

            @media(max-width: 500px) {
                padding: 1rem 0.5rem;
            }
        }
    }
}