.page {
  padding: 2rem;
  min-height: calc(100vh - 184px - 101.5px);
}
.page .page-content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .page {
    padding: 1rem 0.5rem;
  }
}

.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #f5f5f5;
}
.not-found-page .page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
}
.not-found-page .page-content h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}
.not-found-page .page-content p {
  font-size: 1.5rem;
  color: #777;
  margin: 0;
}

.home-page {
  padding: 0 !important;
}
.home-page .content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.home-page .content h1 {
  font-size: xxx-large;
  text-align: center;
  width: 100%;
  padding: 4rem 1rem;
}
.home-page .content .slogan {
  background-color: black;
  color: white;
  text-align: center;
  font-size: xxx-large;
  padding: 4rem 0;
  letter-spacing: 2px;
}
.home-page .content .slogan span {
  display: inline-block;
  width: 100%;
  padding: 0 1rem;
  font-family: "Dancing Script", cursive;
  max-width: 1440px;
}
.home-page .content .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 1px;
  max-width: 1440px;
  margin: 0 auto;
}
.home-page .content .info .icon {
  margin-right: 1rem;
  color: #BFA16B;
}
.home-page .content .more-margin-top {
  margin-top: 2rem;
}
.home-page .content .more-margin-bottom {
  margin-top: 2rem;
}
.home-page .category-container {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 12rem 0;
}
.home-page .category-container section[role=region] {
  width: 100%;
}
.home-page .category-container article[aria-labelledby] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 30rem;
  padding: 2rem;
  margin: 0 auto;
}
.home-page .category-container header.category-photo-box {
  background-color: transparent;
  position: relative;
  left: 5%;
  top: -8rem;
  min-width: 60%;
  height: 80%;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.home-page .category-container header.category-photo-box h2 {
  padding: 1rem;
  font-size: xx-large;
  line-height: 2rem;
  text-align: center;
  color: #BFA16B;
  font-weight: normal;
}
.home-page .category-container header.category-photo-box > div {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 200%;
  background-size: cover;
  background-position: center top;
  border-radius: 0 24px 0 0;
}
.home-page .category-container header.category-photo-box > div a {
  align-self: flex-start;
  padding: 0 !important;
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 50%;
}
.home-page .category-container header.category-photo-box > div a:focus {
  outline: 2px solid #BFA16B;
  outline-offset: 2px;
}
.home-page .category-container header.category-photo-box > div a:hover .icon {
  transform: scale(1.2);
}
.home-page .category-container header.category-photo-box > div a .icon {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.75rem;
  transition: transform 300ms ease;
}
@media (max-width: 700px) {
  .home-page .category-container header.category-photo-box {
    left: 0;
    top: -5rem;
    min-width: 90%;
    height: 70%;
  }
}
.home-page .category-container .category-description-box[role=group] {
  position: relative;
  right: 5%;
  bottom: -8rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid rgba(80, 114, 126, 0.1);
  border-radius: 10px;
  order: 2;
  color: rgb(80, 114, 126);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.home-page .category-container .category-description-box[role=group] h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.home-page .category-container .category-description-box[role=group] p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #555;
}
.home-page .category-container .category-description-box[role=group] .long {
  display: unset;
}
@media (max-width: 1000px) {
  .home-page .category-container .category-description-box[role=group] .long {
    display: none;
  }
}
.home-page .category-container .category-description-box[role=group] .short {
  display: none;
}
@media (max-width: 1000px) {
  .home-page .category-container .category-description-box[role=group] .short {
    display: unset;
  }
}
@media (max-width: 1000px) {
  .home-page .category-container .category-description-box[role=group] {
    bottom: -5rem;
  }
}
@media (max-width: 700px) {
  .home-page .category-container .category-description-box[role=group] {
    right: 0;
    margin-left: -70%;
    bottom: -6rem;
  }
}
.home-page .category-container .flipped header.category-photo-box {
  order: 2;
  left: auto;
  right: 5%;
}
@media (max-width: 700px) {
  .home-page .category-container .flipped header.category-photo-box {
    right: 0;
    top: -5rem;
    min-width: 90%;
    height: 70%;
  }
}
.home-page .category-container .flipped .category-description-box {
  order: 1;
  right: auto;
  left: 5%;
  margin-left: 0;
}
@media (max-width: 700px) {
  .home-page .category-container .flipped .category-description-box {
    left: 0;
    margin-right: -70%;
    bottom: -6rem;
  }
}
@media (max-width: 700px) {
  .home-page .category-container {
    margin: 4rem 0;
  }
  .home-page .category-container article {
    padding: 0.5rem;
  }
}
.home-page .maternity {
  background-image: url("../images/home/maternity.jpg");
  background-position: center;
  background-size: cover;
}
.home-page .newborn {
  background-image: url("../images/home/newborn.jpg");
  background-position: top;
  background-size: cover;
}
.home-page .sitter {
  background-image: url("../images/home/sitter.jpg");
  background-position: center;
  background-size: cover;
}
.home-page .family {
  background-image: url("../images/home/family.jpg");
  background-position: top;
  background-size: cover;
}
.home-page .cake {
  background-image: url("../images/home/cakesmash.jpg");
  background-position: center;
  background-size: cover;
}
.home-page .engagement {
  background-image: url("../images/home/engagement.jpg");
  background-position: center;
  background-size: cover;
}

.about-page {
  background: url("../images/about/bg_opac_10.jpg") no-repeat center/cover fixed;
}
.about-page .content {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.about-page .content .wrapper {
  background: url("../images/about/bg_opac_10.jpg") no-repeat bottom;
  background-position-y: 165px;
  background-size: cover;
  width: 100%;
  padding: 2rem;
}
@media (max-width: 500px) {
  .about-page .content .wrapper {
    padding: 2rem 0.5rem 0.5rem;
  }
}
.about-page .content .about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
}
.about-page .content .about-header img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.about-page .content .about-header h1 {
  padding-left: 0;
  color: #505a6b;
  font-size: 2rem;
}
.about-page .content .about-header .subheadline {
  font-size: 1rem;
  color: #666;
  margin-top: 0.5rem;
}
@media (max-width: 500px) {
  .about-page .content .about-header {
    margin-bottom: 2rem;
  }
}
.about-page .content .about-details {
  max-width: 750px;
  text-align: left;
  line-height: 1.75;
  font-size: 1.25rem;
}
.about-page .content .about-details p {
  margin-bottom: 1.5rem;
}
.about-page .content .about-details .book-btn {
  transform: scale(0.8);
}

.faq-page {
  background: linear-gradient(135deg, #ffffff 50%, #698e9c 50%);
}
.faq-page .content {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  height: 500px;
  max-width: 1000px;
  overflow: hidden;
}
.faq-page .content .media-container {
  background: url("../images/faq/faq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
}
@media (max-width: 1000px) {
  .faq-page .content .media-container {
    display: none;
  }
}
.faq-page .content .question-container {
  padding: 2rem;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
}
.faq-page .content .question-container h1 {
  color: #4A90E2;
  text-align: center;
  margin-bottom: 1rem;
}
.faq-page .content .question-container .questions h2 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgb(80, 114, 126);
}
.faq-page .content .question-container .questions section {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.faq-page .content .question-container .questions section:last-child {
  border-bottom: none;
}
.faq-page .content .question-container .questions section .question-wrap {
  overflow: hidden;
}
.faq-page .content .question-container .questions section .question-wrap h3 {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  background-color: white;
  padding-left: 0.25rem;
  cursor: pointer;
}
.faq-page .content .question-container .questions section .question-wrap h3 .icon {
  width: 1rem;
  min-width: 1rem;
}
.faq-page .content .question-container .questions section .question-wrap h3:hover {
  color: #4A90E2;
}
.faq-page .content .question-container .questions section .question-wrap .active-h3 {
  color: #4A90E2;
}
.faq-page .content .question-container .questions section .question-wrap .answer {
  position: relative;
  transition: all 250ms ease-in-out;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
@media (max-width: 1000px) {
  .faq-page .content .question-container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .faq-page .content .question-container {
    padding: 1rem 0.25rem;
  }
}
.faq-page .contact-help-box {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 2rem auto 0;
  transition: all 0.3s ease-in-out;
  max-width: 1440px;
}
.faq-page .contact-help-box h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #4a90e2;
}
.faq-page .contact-help-box p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1.5rem;
}
.faq-page .contact-help-box .contact-details {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.faq-page .contact-help-box .contact-details .detail {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
}
.faq-page .contact-help-box .contact-details .detail .icon {
  font-size: 1.5rem;
  color: #4a90e2;
  transition: color 0.3s;
}
.faq-page .contact-help-box .contact-details .detail a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  font-weight: bold;
  gap: 0.5rem;
}
.faq-page .contact-help-box .contact-details .detail a:hover {
  color: #4a90e2;
  text-decoration: underline;
}
.faq-page .contact-help-box .contact-details .detail a .mobile-icon {
  transform: scale(0.8);
}
.faq-page .contact-help-box .contact-details .detail a .email-icon {
  transform: scale(0.9);
}
@media (max-width: 1000px) {
  .faq-page .contact-help-box .contact-details .detail a span {
    display: none;
  }
}
.faq-page .contact-help-box .contact-details .detail:hover .icon {
  color: #698e9c;
}
@media (max-width: 500px) {
  .faq-page .contact-help-box {
    margin-top: 1rem;
    padding: 1rem;
  }
}

.testimonials-page .content {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.testimonials-page .content .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 2rem;
}
.testimonials-page .content .grid .card {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
  max-width: 300px;
  transition: all 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  cursor: pointer;
  position: relative;
  border-radius: 1rem;
}
.testimonials-page .content .grid .card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.testimonials-page .content .grid .card blockquote {
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 1rem 0;
  padding: 0 1rem;
}
.testimonials-page .load-more-btn {
  margin-top: 2rem;
  background-color: #222;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  font-size: 1rem;
  transition: background-color 0.3s;
}
.testimonials-page .load-more-btn:hover {
  background-color: #444;
}

.portfolio-page {
  background: url("../images/portfolio/bg.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.portfolio-page .content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
.portfolio-page .content .image-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.portfolio-page .content .image-grid .image-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease;
}
.portfolio-page .content .image-grid .image-item:hover {
  transform: scale(1.05);
}
.portfolio-page .content .image-grid .image-item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.2rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.portfolio-page .content .image-grid .image-item .portfolio-name {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  z-index: 2;
}
.portfolio-page .content .image-grid .image-item .portfolio-description {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #eee;
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  height: 4.75rem;
  z-index: 1;
}
@media (max-width: 900px) {
  .portfolio-page .content .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .portfolio-page .content .image-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

.privacy-policy-page .content {
  max-width: 850px;
  margin: 0 auto;
}
.privacy-policy-page h1 {
  margin-bottom: 2rem;
}
.privacy-policy-page h2 {
  color: rgb(80, 114, 126);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.privacy-policy-page h3 {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  padding: 0.5rem;
}
.privacy-policy-page p {
  padding: 0.5rem;
  line-height: 1.15;
}
.privacy-policy-page p a {
  color: rgb(80, 114, 126);
  font-weight: bold;
}
.privacy-policy-page p a:hover {
  text-decoration: underline;
}
.privacy-policy-page ul {
  margin: 1rem 0 0 1.5rem;
  list-style-type: square;
}
.privacy-policy-page ul li {
  line-height: 1.25;
}

.album-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f8f8f8;
}
.album-page .album-header {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 2rem;
}
.album-page .album-header h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 0;
}
.album-page .album-content {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
}
.album-page .album-content .react-photo-album__masonry {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.album-page .album-content img {
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.album-page .album-content img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.album-page .react-photo-album__image-wrapper {
  margin-bottom: 1rem;
}
.album-page .lightbox .react-modal {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.form-page .page-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}
.form-page .page-content .image-box {
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.form-page .page-content .image-box .image-box-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.form-page .page-content .image-box .image-box-content .detail {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.form-page .page-content .image-box .image-box-content .detail .icon {
  margin-right: 1rem;
}
.form-page .page-content .image-box .image-box-content .detail a {
  color: white;
}
.form-page .page-content .image-box .image-box-content .detail a:hover {
  text-decoration: underline;
}
.form-page .page-content .image-box.image-box-contact-page {
  background: url("../images/contact/camera.jpg") center/cover no-repeat;
}
.form-page .page-content .image-box.image-box-booking-page {
  background: url("../images/booking/calendar.jpg") center/cover no-repeat;
}
.form-page .page-content .image-box.image-box-booking-page .image-box-content {
  background-color: transparent;
}
@media (max-width: 1000px) {
  .form-page .page-content .image-box {
    display: none;
  }
}
.form-page .page-content .form-box {
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.form-page .page-content .form-box h1 {
  color: #50727e;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.form-page .page-content .form-box p {
  margin: 1.5rem 0;
  color: #444;
}
.form-page .page-content .form-box form {
  display: flex;
  flex-direction: column;
}
.form-page .page-content .form-box form label {
  font-weight: 600;
  margin: 1rem 0 0.5rem;
  color: #333;
}
.form-page .page-content .form-box form input,
.form-page .page-content .form-box form select,
.form-page .page-content .form-box form textarea {
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: border 0.2s, box-shadow 0.2s;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
}
.form-page .page-content .form-box form input:focus,
.form-page .page-content .form-box form select:focus,
.form-page .page-content .form-box form textarea:focus {
  border-color: #50727e;
  box-shadow: 0 0 0 2px rgba(80, 114, 126, 0.2);
  outline: none;
  background-color: white;
}
.form-page .page-content .form-box form input.must-be-given,
.form-page .page-content .form-box form select.must-be-given,
.form-page .page-content .form-box form textarea.must-be-given {
  background-color: #fff8f0;
}
.form-page .page-content .form-box form textarea {
  resize: vertical;
  min-height: 100px;
}
.form-page .page-content .form-box form .recaptcha {
  margin: 1rem 0 2rem;
}
.form-page .page-content .form-box form .react-select-container {
  margin-bottom: 1rem;
}
.form-page .page-content .form-box form .react-select__control {
  border-radius: 0.5rem;
  border-color: #ccc;
  background-color: #f9f9f9;
}
.form-page .page-content .form-box form .react-select__control:hover {
  border-color: #aaa;
}
.form-page .page-content .form-box form .react-select__control--is-focused {
  border-color: #50727e;
  box-shadow: 0 0 0 2px rgba(80, 114, 126, 0.2);
}
.form-page .page-content .form-box form .react-select__single-value {
  color: #333;
}
@media (max-width: 500px) {
  .form-page .page-content .form-box {
    padding: 1.5rem 1rem;
  }
}/*# sourceMappingURL=Pages.css.map */