.photography-packeges {
    background-color: #f7f7f7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;

    .package-container {
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        gap: 1.5rem;
        padding: 1.5rem;

        // Default layout: 2x3 (2 columns, 3 rows)
        grid-template-columns: repeat(3, 1fr);

        // Media query for larger screens: 3x2 (3 columns, 2 rows)
        @media (max-width: 1300px) {
            grid-template-columns: repeat(2, 1fr);
        }

        // Media query for smaller screens: 1x6 (1 column, 6 rows)
        @media (max-width: 700px) {
            grid-template-columns: 1fr;
        }
    }

    .package-card {
        display: flex;
        flex-direction: column;
        background-color: rgb(80, 114, 126);
        color: white;
        padding: 1.5rem;
        width: 100%;
        height: 100%;
        max-width: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        h4 {
            font-size: 2rem;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 40%;
                height: 1px;
                background-color: #ccc;
                margin-top: 0.5rem;
                margin: 2rem auto;
            }
        }

        .price {
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .description {
            margin-top: auto;
            margin-bottom: 2rem;
        }

        button {
            align-self: center;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            padding: 0.75rem 1.25rem;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgb(105, 142, 156);
            }
        }

    }
}