.photography-packeges {
    background: url('../images/home/paralax3.jpg') no-repeat top right;
    background-size: cover;
    background-attachment: fixed;

    // background-color: #f7f7f7;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;


    .package-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }

    .package-card {
        display: flex;
        flex-direction: column;
        background-color: rgb(80, 114, 126);
        color: white;
        padding: 1.5rem;
        width: 100%;
        height: 100%;
        max-width: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        h4 {
            font-size: 2rem;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 40%;
                height: 1px;
                background-color: #ccc;
                margin-top: 0.5rem;
                margin: 2rem auto;
            }
        }

        .price {
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .description {
            margin-top: auto;
            margin-bottom: 2rem;
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        button {
            align-self: center;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            padding: 0.75rem 1.25rem;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgb(105, 142, 156);
            }
        }

    }
}