.scroll-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 2.2rem;
    height: 2.2rem;
    bottom: 8rem;
    right: 2rem;
    border-radius: 50%;
    background-color: #50727e;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    z-index: 1002;
    box-shadow: 0 0 5px white;

    .icon {
        color: white;
    }

    &:hover {
        background-color: darkred;
    }
}